@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700;900;1000&family=Raleway:wght@500;700;900&family=Ubuntu:wght@700&display=swap');
:root{
    --color: #2978cb;
    --bold-lead-color: #7a7a7a;
    --light-lead-color: #f3f3f3;
    --main-transition: 0.3s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Cairo', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}


html{
    font-family: 'Cairo', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}


a{
    text-decoration: none;
}

a:hover{
    color: var(--color);
}

input{
    outline: none;
}

::selection{
  background-color: #023162;
  color: white;
}


body{
  background-color: #ffffff;
}

/* ************************************************************* */
/* Start header */
/* ************************************************* */
.navbar{
    /* background-color: var(--color); */
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 1px 10px #c1c1c1;
}


.nav-link {
padding: 7px;
}

li a {
    display: inline !important;
    color:black !important;
    font-weight: bold;
}


.nav-item  a:hover{
    background-color: var(--light-lead-color) !important;
    color: var(--color) !important;
    border-radius: 10px;
}



@media (max-width:1000px) {
    li a {
        color: rgb(255, 255, 255) !important;
    }

    .nav-item  a:hover{
        background-color: var(--light-lead-color) !important;
        color: var(--color) !important;
    }

}

.active-a{
background-color: var(--color);
border-radius: 10px;
color: white !important;
}

.navbar-nav  .chat{
    background-color: var(--color);
    border-radius: 10px;
    width: 150px;
    margin-left: 260px;
}

@media (max-width:1280px) {
    .navbar-nav  .chat{
        margin-left: 0;
    }
}

@media (max-width:1024px) {
    .navbar-nav  .chat{
        margin-left: 0;
    }

}


.nav-item svg{
    color: var(--light-lead-color);
    padding: 0 4px !important;
}

.nav-limkss{
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    direction: rtl;

}

@media (max-width:912px) {
    .nav-limkss{
        display: block;
        padding: 15px;
    }
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar span{
    color: var(--light-lead-color) !important;
}

.navbar-toggler{
  background-color: var(--light-lead-color) !important;
}

.img-nav{
    width: 100px;
}

@media (max-width:912px) {
    .img-nav{
        width: 70px;
    }
}

/* ************************************************************* */
/* End header */
/* ************************************************* */

/* start fixed*/
.title{
    direction: rtl;
}

.title p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: relative;
      width: 350px;
      height: 50px;
      text-align: center;
      border-left:6px solid var(--color);
      background-color: var(--light-lead-color);
    }
  
    .title p::before{
      content: "A.I.C";
      position: absolute;
      background-color: var(--color);
      height: 100%;
      line-height:1.6;
      color: rgb(255, 255, 255);
      width: 80px;
      text-align: center;
      top: 0;
      right: 0;
    }
/* End fixd */


/* Start about */
.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
  }
  .accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid #03b5d2;
  }
  
  .accordion button {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  .accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: #4D4D4D;
  }
  .accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
  }
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 33%;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  .accordion button[aria-expanded=true] {
    color: #4D4D4D;
  }
  .accordion button[aria-expanded=true] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 100%;
    transition: all 200ms ease-out;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms ease-out, max-height 200ms ease-out;
    will-change: opacity, max-height;
    direction: rtl;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }
  
  
  .point li{
    color: #00ffdd !important;
    }
    
    .photo , .main-video-about-page{
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    
    .photo img{
        width: 250px;
        height: 250px;
        margin: 10px;
        border-radius: 20px;
    } 
    
    .main-video-about-page video{
        width: 300px;
        border-radius: 20px;
    }
  
  /* End about */


  /* Start Footer */
.footer{
    background-color:var(--color);
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.foot-description p{
    letter-spacing: 1px;
}

.copyright{
    color: white;
    background-color: #0d4581;
    text-align: center;
}


.Contact-details a{
    display: block;
    color: var(--color);
}

.mylinkss a{
    font-size: 30px;
    color: white;
}




.foot-link{
    color: #00ffdd;
}

.foot-link:hover{
    color: #969696;
}
/* End footer */